{%extends "main/base.html"%}
{% load static %}

    {%block content%}


    <section class="welcome-post-sliders owl-carousel">

        <!-- Single Slide -->
        {%for post in posts%}

        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="{{post.picurl}}" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a href="#">May 19, 2017</a>
                    <a href="#">5 Comment</a>
                </div>
                <a href="#">
                    <h5>“{{post.title}}”: {{post.thought}}</h5>
                </a>
            </div>
        </div>

          {%endfor%}

        <!-- Single Slide -->
        

    </section>
    <!-- ****** Welcome Area End ****** -->

    <!-- ****** Categories Area Start ****** -->
    <section class="categories_area clearfix welcome-post-sliders owl-carousel" id="about">
        
            
        <div class="welcome-single-slide">
            <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
                <img src="{% static 'main/img/catagory-img/1.jpg' %}" alt="">
                <div class="catagory-title">
                    <a href="#">
                        <h5>#Zeitgiest</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="welcome-single-slide">
            <div class="single_catagory wow fadeInUp" data-wow-delay=".6s">
                <img src="{% static 'main/img/catagory-img/2.jpg' %}" alt="">
                <div class="catagory-title">
                    <a href="#">
                        <h5>#Other_Hashtags</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="welcome-single-slide">
            <div class="single_catagory wow fadeInUp" data-wow-delay=".9s">
                <img src="{% static 'main/img/catagory-img/3.jpg' %}" alt="">
                <div class="catagory-title">
                    <a href="#">
                        <h5>Should be a slider</h5>
                    </a>
                </div>
            </div>
        </div>
            

        
    </section>
    <!-- ****** Categories Area End ******-->

    <!-- ****** Blog Area Start ****** -->
    <section class="blog_area section_padding_0_80">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="blog-sidebar mt-5 mt-lg-0">
                        <!-- Single Widget Area -->
                        <div class="single-widget-area about-me-widget text-center">
                            <div class="widget-title">
                                <h6>About Me</h6>
                            </div>
                            <div class="about-me-widget-thumb">
                                <img src="{% static 'main/img/about-img/1.jpg' %}" alt="">
                            </div>
                            <h4 class="font-shadow-into-light">Shopia Bernard</h4>
                            <p>We'll link this to the user's profile. The user can also add a brief summary/write up to their own wall.</p>
                        </div>

                        <!-- Single Widget Area -->
                        

                        <!-- Single Widget Area -->
                        <div class="single-widget-area popular-post-widget">
                            <div class="widget-title text-center">
                                <h6>Popular Posts</h6>
                            </div>
                            <!-- Single Popular Post -->
                            <div class="single-populer-post d-flex">
                                <img src="{% static 'main/img/sidebar-img/1.jpg' %}" alt="">
                                <div class="post-content">
                                    <a href="#">
                                        <h6>Top Wineries To Visit In England</h6>
                                    </a>
                                    <p>Tuesday, October 3, 2017</p>
                                </div>
                            </div>
                            <!-- Single Popular Post -->
                            <div class="single-populer-post d-flex">
                                <img src="{% static 'main/img/sidebar-img/2.jpg' %}" alt="">
                                <div class="post-content">
                                    <a href="#">
                                        <h6>The 8 Best Gastro Pubs In Bath</h6>
                                    </a>
                                    <p>Tuesday, October 3, 2017</p>
                                </div>
                            </div>
                            <!-- Single Popular Post -->
                            <div class="single-populer-post d-flex">
                                <img src="{% static 'main/img/sidebar-img/3.jpg' %}" alt="">
                                <div class="post-content">
                                    <a href="#">
                                        <h6>Zermatt Unplugged the best festival</h6>
                                    </a>
                                    <p>Tuesday, October 3, 2017</p>
                                </div>
                            </div>
                            <!-- Single Popular Post -->
                            <div class="single-populer-post d-flex">
                                <img src="{% static 'main/img/sidebar-img/4.jpg' %}" alt="">
                                <div class="post-content">
                                    <a href="#">
                                        <h6>Harrogate's Top 10 Independent Eats</h6>
                                    </a>
                                    <p>Tuesday, October 3, 2017</p>
                                </div>
                            </div>
                            <!-- Single Popular Post -->
                            <div class="single-populer-post d-flex">
                                <img src="{% static 'main/img/sidebar-img/5.jpg' %}" alt="">
                                <div class="post-content">
                                    <a href="#">
                                        <h6>Eating Out On A Budget In Oxford</h6>
                                    </a>
                                    <p>Tuesday, October 3, 2017</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        
                    </div>
                </div>




                <div class="col-12 col-lg-8">
                    <div class="row">

                        <!-- Single Post -->
                        {% for i in posts %}
                        <div class="col-12">
                            <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <a href="{% url 'comment' i.pk%}"><img src= {{i.picurl}} alt=""></a>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">Username</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">{{i.date}}</a>
                                            </div>
                                        </div>
                                        <!-- Post Comment & Share Area -->
                                        <div class="post-comment-share-area d-flex">
                                            <!-- Post Favourite -->
                                            <div class="post-favourite">
                                                <a href="{% url 'communicate' i.pk 1%}"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i> {{i.love_num}}</a>
                                            </div>
                                            <!-- Post Comments -->
                                            <div class="post-comments">
                                                <a href="{% url 'comment' i.pk%}"><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i> {{i.comment_num}}</a>
                                            </div>
                                            <!-- Post Share -->
                                            <div class="post-share">
                                                <a href="{% url 'communicate' i.pk 3%}"><i class="fa fa-share-alt fa-2x" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <!-- Single Post -->

                <div class="col-12">
                    <div class="pagination-area d-sm-flex mt-15">
                        <nav aria-label="#">
                            <ul class="pagination">
                                <li class="page-item active">
                                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </nav>
                        <div class="page-status">
                            <p>Page 1 of 60 results</p>
                        </div>
                    </div>
                </div>




                        

                        

                        

                        
                        

                    </div>
                </div>

                <!-- ****** Blog Sidebar ****** -->
                
            </div>
        </div>
    </section>
    <!-- ****** Blog Area End ****** -->

    {%endblock%}

   