{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>IIT Ropar Storybook</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="icon" href="{%static 'main/img/core-img/favicon.ico'%}">
<!-- 
Easy Profile Template
http://www.templatemo.com/tm-467-easy-profile
-->
	<!-- stylesheet css -->
	<link rel="stylesheet" href="{%static 'wall/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{%static 'wall/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{%static 'wall/css/templatemo-blue.css'%}">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- header section -->


<header>
	



	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="{{student.general.profilepicurl}}" class=" img-circle tm-border" alt="templatemo easy profile" height="260" width="260">
				<hr>
				<h1 class="tm-title bold shadow">{{student.User.first_name}} {{student.User.last_name}}</h1>
				<h1 class="white bold shadow">{{student.Branch}}</h1>
			</div>
		</div>
	</div>
</header>

<button class="btn btn-lg col-sm-1 btn-success" onclick="location.href='{% url 'home' %}'">Home</button>
  <button class="btn block btn-lg col-sm-3  btn-success"  onclick="location.href='{% url 'batch' %}'">Graduating Batch</button>
<form method="POST">
	{%csrf_token%}
<textarea type = "text" style = "width: 700px"  name = "wishes" placeholder="Write your wishes here !"></textarea>
<input type="submit" class = "btn btn-primary btn-lg" value="Send" />
</form>

<!-- about and skills section -->
<section class="container">
	<div class="row" >
		<div class="col-md-6 col-sm-12" >
			<div class="education" style="background: #3366CC;">
				<h3 class="accent">{{student.User.first_name}} {{student.User.last_name}}</h3>
				<h2>About Me</h2>
				<p>{{student.Summary}}</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="contact" style="background: orange;">
				<h2>Contact</h2>
					<p><i class="fa fa-map-marker"></i>{{student.Address}}</p>
					<p><i class="fa fa-phone"></i>{{student.Mobile}}</p>
					<p><i class="fa fa-envelope"></i>{{student.User.email}}</p>
					<p><i class="fa fa-globe"></i>{{student.Website}}</p>
			</div>
		</div>
	</div>
</section>

<!-- education and languages -->


<section class="container">
	{%for wish in wishes%}
	<div class="col-md-6 col-sm-12">
			<div class="languages" style="background: {{wish.color}};">
				<h2>{{wish.writer.first_name}} {{wish.writer.last_name}}</h2>
					{{wish.body}}
			</div>
	</div>
	{%endfor%}
		
</section>


<!-- contact and experience -->


<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			
		</div>
	</div>
</footer>

<!-- javascript js -->	
<script src="{%static 'wall/js/jquery.js'%}"></script>
<script src="{%static 'wall/js/bootstrap.min.js'%}"></script>	
<script src="{%static 'wall/js/jquery.backstretch.min.js'%}"></script>

<script>
	$(window).load(function(){
    $('.preloader').delay(1000).fadeOut("slow"); // set duration in brackets    
});

// HOME BACKGROUND SLIDESHOW
$(function(){
    jQuery(document).ready(function() {
		$('body').backstretch([
	 		 "{%static 'wall/images/tm-bg-slide-1.jpg'%}", 
	 		 "{%static 'wall/images/tm-bg-slide-2.jpg'%}",
			 "{%static 'wall/images/tm-bg-slide-3.jpg'%}"
	 			], 	{duration: 3200, fade: 1300});
		});
})

</script>

</body>
</html>